/* header */
.hd-wr {position: relative; z-index: 100;}
.header {position: fixed; top: 0; left: 0; height: 90px; width: 100%; border-bottom: 1px solid rgba(255, 255, 255, .25);}
.header .inner {display: flex; justify-content: space-between;}
.hd-left {display: flex; gap: 80px;}
.hd-sitemap-btnwr {display: flex; align-items: center; justify-content: center; width: 85px; height: 90px;}
.hd-sitemap-btn {position: relative; width: 40px; height: 40px; border: 1px solid rgba(255, 255, 255, .3); border-radius: 50%; background: transparent; transition: .2s;}
.hd-sitemap-btn::after, .hd-sitemap-btn::before {content: ''; position: absolute; left: 50%; transform: translate(-50%, -50%); width: 16px; height: 2px; background-color: #fff;}
.hd-sitemap-btn::after {top: 40%;}
.hd-sitemap-btn::before {top: 60%;}
.hd-logo {display: flex; align-items: center; justify-content: center;}
.gnb-ul {display: flex; gap: 5vw; align-items: center; height: 100%; padding-right: 80px;}
.gnb-ul > li a {font-size: 1.125rem; font-weight: 500; color: #fff;}

/* aside */
.hd-aside {position: fixed; top: 0; left: 0; width: 85px; height: 100vh; background-color: #222;}
.aside-in {display: flex; flex-direction: column; justify-content: flex-end; height: 100%;}
.aside-btn {position: relative; z-index: 10; display: flex; flex-direction: column; gap: 7px; align-items: center; justify-content: center; width: 100%; height: 90px; border: 0; background-color: transparent; color: #fff; font-size: 0.875rem;}
.aside-li {position: relative; border-top: 1px solid rgba(255, 255, 255, .2); background: transparent; transition: 2s;}
.aside-li::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(200deg, #009AF1 20%, #09DC8E); opacity: 0; transition: .2s;}
.aside-li:nth-child(1) img {width: 34px;}
.aside-li:nth-child(2) img {width: 28px;}
.aside-li:nth-child(3) img {width: 27px;}
.aside-li:nth-child(4) img {width: 22px;}

/* footer */
.main-foot {position: fixed; left: 85px; bottom: -100%; z-index: 100; width: calc(100% - 85px); transition: .5s;}
.main-foot.on {bottom: 0;}
.footer {padding: 45px 0; background-color: #2A2C2F;}
.foot-btm {display: flex; align-items: flex-end; justify-content: space-between; padding-top: 20px;}
.foot-address {font-size: 1rem; font-weight: 500; color: #f2f2f2;}
.foot-copyright {padding-top: 10px; font-size: 0.875rem; font-weight: 400; color: #999;}
.foot-btm-link-wr {display: flex; align-items: center; gap: 40px;}
.foot-btm-link {position: relative; font-weight: 500; color: #999;}
.foot-btm-link.white {color: #fff;}
.foot-btm-link:not(:last-child)::after {content: ''; position: absolute; right: -19.5px; top: 50%; transform: translateY(-50%); width: 1px; height: 15px; background-color: #bbb;}

/* common */
.contents_wrap {padding-left: 85px;}

/* main */
#main {background-color: #333;}
#fp-nav {display: none;}
.main-in {}
.centered {display: flex; align-items: center; justify-content: center; text-align:center;}
.content-wrapper {display: flex; align-items: center; justify-content: center; padding: 90px 0 0; width: 100%; height: 100%; color: #333; will-change: transform; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1); transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);}
.section{position: fixed;	width: 100%; height: 100%; top: 0; left: 0; animation: 1s ease-in-out; box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); background-size: cover;background-repeat: no-repeat; background-position: center center;}
.section:nth-child(1){/* background: #333 url('/source/img/img-mainbg1.png') no-repeat center / 110%; */	z-index: 10;}
.section:nth-child(2){/* background: #333 url('/source/img/img-mainbg2.png') no-repeat center / 110%; */	z-index: 9;}
.section:nth-child(3){/* background: #333 url('/source/img/img-mainbg3.png') no-repeat center / 110%; */	z-index: 8;}
.section:nth-child(4){/* background: #333 url('/source/img/img-mainbg4.png') no-repeat center / 110%; */	z-index: 7;}
.section.fp-completely.active {background-size: 100%;	z-index: 20; transition: 1s;}
.section.active .content-wrapper{transform:translateY(-10vh);	transition: all 5s cubic-bezier(0.22, 0.44, 0, 1) !important;}
.section.fp-completely .content-wrapper{transform:translateY(10vh);	transition: all 5s cubic-bezier(0.22, 0.44, 0, 1) !important;}
.section.fp-completely.active .content-wrapper{margin-top: 0;	transform:translateY(0); position: relative;}
.section.prev.down{animation-name: toup;}
.section.active.up{animation-name: fromup;}
.section.active.down{animation-name: fromdown;	z-index: 12;}
.section.next.up{animation-name: todown;	z-index: 12;}
/* #main .mainsec3.none {animation: none !important;} */
.section .bg {position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; scale: 1.05; transition: 1s; }
/* .section .bg::after {content: ''; position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; opacity: 1; transition: .1s;} */
.section .bg img {width: 100%; height: 100%; object-fit: cover;}
.section.fp-completely.active .bg {scale: 1;}
.section.fp-completely.active .bg::after {opacity: 0;}

.main-tit-wr {padding-bottom: 50px;}
.main-tit {font-size: clamp(1.25rem, 4.5vw, 3.5rem); font-weight: 700; color: #fff;}
.main-subtit {padding-top: 10px; font-size: 1rem; font-weight: 400; color: #ddd;}

.category-ul {display: flex; gap: 20px;}
.category-btn {display: flex; align-items: center; justify-content: center; min-width: 110px; height: 46px;  padding: 0 20px; border-radius: 30px; background: transparent; font-size: 1.125rem; font-weight: 500; color: #999; border: 0;}
.category-li.active .category-btn {background: linear-gradient(90deg, #009AF1 20%, #09DC8E); font-weight: 600; color: #121212;}

/* > mainsec--1 */
.mainsec1 .wrapper {height: 100%;}
.mainsec1-in {display: flex; flex-direction: column; align-items: center; justify-content: center; gap: clamp(20px, 5vw, 75px); height: 100%; text-align: center;}
.main-scroll {display: flex; justify-content: center; align-items: flex-end; position: absolute; top: 90px; right: 0; width: 80px; height: calc(100% - 90px); border-left: 1px solid rgba(255, 255, 255, .25); padding-bottom: 40px;}
.main-scroll-in {display: flex; flex-direction: column; gap: 10px; position: relative; animation: mainscroll 2.5s linear infinite}
.main-scroll-txt {writing-mode: vertical-lr; text-orientation: mixed; transform:scale(-1); font-size: 14px; font-weight: 500; color: #fff;}
.main-scroll-img {width: 15px;}
.mainsec1-txt-wr {display: flex; flex-direction: column; gap: clamp(10px, 2vw, 24px);}
.mainsec1-txt {color: #fff; font-weight: 400;}
.mainsec1-txt-1 {font-size: clamp(1.25rem, 5vw, 4.75rem);}
.mainsec1-txt-2 {font-size: 1.125rem;}
.mainsec1-btn {display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 14px; position: relative; width: 150px; height: 150px; border-radius: 50%; background: linear-gradient(200deg, #009AF1 20%, #09DC8E);}
.mainsec1-btn-img {width: 32px;}
.mainsec1-btn-txt {font-size: 1.125rem; font-weight: 600; color: #fff;}
.mainsec1-btn::after {content: ''; position: absolute; top: -21px; left: -21px; width: 192px; height: 192px; background: url('/source/img/img-mainsec_btntxt.png') no-repeat center / contain; animation: circle 12s linear infinite;}

/* > mainsec--2 */
.mainsec2-in {text-align: center;}
.mainsec3 .main-top {display: flex; align-items: center; justify-content: space-between;}
.mainsec2-slider {position: relative;}
.mainsec2-sl {padding: 40px 100px; width: 1000px !important; height: 400px; border-radius: 10px; text-align: center; opacity: .5; background-repeat: no-repeat; background-position: center; background-size: cover;}
.mainsec2-sl.swiper-slide-active {opacity: 1;}
.mainsec2-sl-in {padding: 0 20px; height: 100%; overflow-y: auto;}
.mainsec2-sl-in::-webkit-scrollbar {width: 6px; height: 6px; scrollbar-width: 6px; scrollbar-height: 6px;}
.mainsec2-sl-in::-webkit-scrollbar-thumb {border-radius: 3px; background: #fff;}
.mainsec2-sl-in::-webkit-scrollbar-track-piece {border-radius: 3px; background: rgba(255, 255, 255, .5);}
.mainsec2-sl-tit {position: relative; padding-bottom: 60px; font-size: clamp(1.125rem, 3vw, 2.25rem); font-weight: 700; background: linear-gradient(90deg, #009AF1, #09DC8E 70%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.mainsec2-sl-tit::after {content: ''; position: absolute; left: 50%; bottom: 29px; transform: translateX(-50%); width: 30px; height: 2px; background-color: rgba(255, 255, 255, .5);}
.mainsec2-sl-txt {font-size: 0.875rem; font-weight: 400; color: #f2f2f2; line-height: 1.6;} 
.mainsec2-sl-box {display: none;}
.mainsec2-sl-box.active {display: block;}
.category-ul--main2 {justify-content: center; padding-top: 40px;}
.mainsec-sl-arrow {position: absolute; top: 50%; transform: translateY(-50%); width: 51px; height: 51px; border-radius: 50%; background-color: transparent; border: 1px solid rgba(255, 255, 255, 0.4); background-size: 13px; background-position: center; background-repeat: no-repeat; z-index: 100; transition: .2s;}
.mainsec-sl-arrow.prev {background-image: url('/source/img/icon-arrow_sl_prev.png');}
.mainsec-sl-arrow.next {background-image: url('/source/img/icon-arrow_sl_next.png');}
.mainsec2-sl-arrow.prev {left: calc(50% - 585px);}
.mainsec2-sl-arrow.next {right: calc(50% - 585px);}
.swiper-pagination-bullet {background-color: #5F5F5F; opacity: 1;}
.swiper-pagination-bullet-active {background-color: #fff;}
.mainsec-sl-dot-wr {margin-top: 40px;}


/* > mainsec--3 */
.mainsec3-sl-in {display: block; padding: 28px 15px; border-top: 2px solid #fff; border-bottom: 1px solid rgba(255, 255, 255, .5);}
.mainsec3-sl-box {display: none;}
.mainsec3-sl-box.active {display: block;}
.mainsec3-sl-cate {display: flex; align-items: center; justify-content: center; width: 130px; height: 32px; border-radius: 20px; background-color: rgba(255, 255, 255, .2); font-size: 0.875rem; font-weight: 500; color: #bbb; transition: .2s;}
.mainsec3-sl-container {position: relative;}
.mainsec3-sl-txtwr {padding: 28px 0 24px;}
.mainsec3-sl-tit {padding-bottom: 9px; font-size: 1.625rem; font-weight: 600; color: #fff; transition: .2s; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.mainsec3-sl-txt {min-height: 93px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; font-size: 1rem; font-weight: 400; color: #bbb; transition: .2s; line-height: 1.5;}
.mainsec3-sl-btm {position: relative; width: 100%; height: 45px;}
.mainsec3-sl-date {position: absolute; top: 50%; transform: translateY(-50%); left: 0; font-size: 1rem; font-weight: 500; color: #ddd; transition: .2s;}
.mainsec-more {display: flex; align-items: center; gap: 10px; font-size: 1rem; font-weight: 600; color: #fff; transition: .3s;}
.mainsec-more__icon {display: flex; align-items: center; justify-content: center; width: 45px; height: 45px; border-radius: 50%; transition: .2s;}
.mainsec-more__icon img {width: 22.5px;}
.mainsec3-sl-more {position: absolute; top: 50%; left: 0; transform: translateY(-50%); opacity: 0;}
.mainsec3-sl-more__icon {background: linear-gradient(180deg, #009AF1, #09DC8E)}
.mainsec3-sl-dot-wr {text-align: center;}
.mainsec3-sl-arrow {top: calc(50% - 30px);}
.mainsec3-sl-arrow.prev {left: -85px;}
.mainsec3-sl-arrow.next {right: -85px;}


/* > mainsec--4 */
.mainsec4 {line-height: 1.6;}
.mainsec4-subject {max-width: 1200px; margin: auto; font-size: 2.75rem; color: #fff; }
.mainsec4-ul {display: flex; gap: 45px; padding-top: 78px;}
.mainsec4-li {flex: 1;}
.mainsec4-link {display: flex; flex-direction: column; justify-content: space-between; position: relative; padding: 50px; height: 320px; border-radius: 10px; border: 1px solid #666; background-color: rgba(255, 255, 255, .1); color: #fff; overflow: hidden;}
.mainsec4-link::after {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(200deg, #009AF1 20%, #09DC8E); transition: .2s; opacity: 0;}
.mainsec4-txtwr {position: relative; z-index: 10;}
.mainsec4-tit {padding-bottom: 13px; font-size: 2.125rem; font-weight: 700;}
.mainsec4-txt {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; font-size: 1rem; font-weight: 400; line-height: 1.5;}
.mainsec4-more {position: relative; z-index: 10;}
.mainsec4-more__icon img:last-child {display: none;}


/* keyframes */
@keyframes fromdown {
  from {
  /* transform:translateY(20%); */
  transform:translateY(0%);
  }
  100% {
  transform:translateY(0%);
  }
}
@keyframes toup {
  from {
		z-index: 20;
  transform:translateY(0%);
  }
  100% {
		z-index: 20;
  transform:translateY(-100%);
  }
}
@keyframes fromup {
  from {
		z-index: 20;
  transform:translateY(-100%);
  }
  100% {
		z-index: 20;
    transform:translateY(0%);
  }
}
@keyframes todown {
  from {
    transform:translateY(0%);
  }
  100% {
    transform:translateY(20%);
  }
}
@keyframes mainscroll {
  from {
    top: 0%;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0%;
  }
}
@keyframes circle {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


/* hover */
.aside-li:hover::before {opacity: 1;}
.mainsec-sl-arrow:hover {background-color: rgba(255, 255, 255, .4);}
.mainsec3-sl-in:hover .mainsec3-sl-cate, .mainsec3-sl-in:hover .mainsec3-sl-txt {color: #fff;}
.mainsec3-sl-in:hover .mainsec3-sl-tit {color: #1EC9EF;}
.mainsec3-sl-in:hover .mainsec3-sl-date {opacity: 0;}
.mainsec3-sl-in:hover .mainsec3-sl-more {opacity: 1;}
.mainsec4-link:hover::after {opacity: 1;}
.mainsec4-link:hover .mainsec4-more__icon {background-color: #fff;}
.mainsec4-link:hover .mainsec4-more__icon img:first-child {display: none;}
.mainsec4-link:hover .mainsec4-more__icon img:last-child {display: block;}