@media screen and (max-width:1630px){
  .vision-wr {margin: auto;}

  /* sub common */
  .sub-title {font-size: 2rem;}
}

@media screen and (max-width:1290px){
  /* header */
  .hd-left {gap: 3vw;}
  .gnb-ul {padding-right: 3vw;}

  /* footer */
  .foot-btm {flex-direction: column; align-items: flex-start;}
  .foot-btm-link-wr {padding-top: 20px;}
  .foot-btm-link {font-size: 0.875rem;}

  /* i-SMR > vision */
  .vision-img-wr {max-height: 400px; height: 60vw;}
  .vision-in--img, .vision-sec:nth-child(even) .vision-in--img {flex-direction: column-reverse; align-items: flex-start;}
  .vision-in--img {gap: 20px;}
}

@media screen and (max-width:1023px){
  /* sub common */
  .sub-title {font-size: 1.7rem;}
  .sub-title br {display: none;}
  .sub-location-ul {gap: 5vw;}
  .sub-location-li a {font-size: 1.125rem;}
  .sub-top-dep1 {font-size: 1rem;}

  /* i-SMR > overview*/
  .overview-ul {flex-direction: column; gap: 40px;}
  .overview-li-in {max-width: 100%;}
  .overview-li__tit {padding: 15px 0 10px;}
  .overview-li:not(:last-child) {padding-bottom: 40px;}
  .overview-li:not(:last-child)::after {top: auto; bottom: 0; left: 0; transform: translate(0); width: 100%; height: 1px;}
}

@media screen and (max-width:767px){
  /* common */
  .contents_wrap {padding-left: 0;}

  .sub-location-li a {font-size: 1rem;}

  /* header */
  .header {height: 75px;}
  .hd-aside {width: 100%; height: clamp(45px, 18vw, 90px); top: auto; bottom: 0;}
  .aside-in {flex-direction: row;}
  .aside-ul {display: flex; width: 100%;}
  .aside-li {flex: 1; border-top: 0;}
  .aside-btn {height: 100%;}
  .header .inner::after {width: 100%; left: 0;}
  .hd-right {display: none;}
  .hd-left {width: 100%; flex-direction: row-reverse; justify-content: space-between; padding: 0 3vw;}
  .hd-sitemap-btnwr {width: auto; height: 100%;}

  /* footer */
  .footer {padding-top: 25px; padding-bottom: clamp(80px, 27vw, 120px); padding-left: 0;}

  /* main */
  .section {position: relative; overflow: hidden; height: auto !important;}
  .section.prev.down, .section.active.up, .section.active.down, .section.next.up { animation: none;}

  /* i-SMR > overview*/
  .overview-li__tit {font-size: 1.6rem;}

  /* i-SMR > vision */
  .vision-tit {font-size: 1.7rem;}
}

@media screen and (max-width:480px){
  body, html {font-size: 14px;}

  /* sub common */
  .sub-top-twr {position: relative;}
  .sub-top-tbtn {display: flex; gap: 20px; justify-content: space-between; align-items: center; padding: 10px 20px; width: 100%; background-color: #0f0f0f; border: 1px solid rgba(255, 255, 255, .5); border-radius: 5px; font-weight: 500; color: #fff; text-align: left;}
  .sub-top-tbtn img {width: 15px; rotate: 180deg;}
  .sub-location-wr {position: absolute; top: calc(100% + 3px); left: 0; z-index: 100; border-radius: 5px; width: 100%; display: none;}
  .sub-location-ul {flex-direction: column; padding: 20px; width: 100%; background-color: #333;}
  .sub-location-li {width: 100%; text-align: left;}
  .sub-location-li a {display: block; color: #999;}
  .sub-location-li.act a::after {display: none;}
  .sub-top-in {border-bottom: 0;}

  /* header */
  .header {height: 55px;}
  .aside-icon {height: 22px;}
  .aside-ul .aside-li .aside-btn img {transform: scale(0.6);}
  .aside-li:nth-child(4) img {margin-bottom: -10px;}

}