<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISMR</title>

    <link rel="stylesheet" href="./source/css/fonts.css">
    <link rel="stylesheet" href="./source/css/common.css">
    <link rel="stylesheet" href="./source/css/normal.css">

    <script src="./source/js/normal.js"></script>

  </head>
  <body>
    <div class="page">
      <!-- Header { -->
      <div class="page-header">
        <a href="/views/" class="home-btn">
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="22px" height="22px"><path d="M 24.962891 1.0546875 A 1.0001 1.0001 0 0 0 24.384766 1.2636719 L 1.3847656 19.210938 A 1.0005659 1.0005659 0 0 0 2.6152344 20.789062 L 4 19.708984 L 4 46 A 1.0001 1.0001 0 0 0 5 47 L 18.832031 47 A 1.0001 1.0001 0 0 0 19.158203 47 L 30.832031 47 A 1.0001 1.0001 0 0 0 31.158203 47 L 45 47 A 1.0001 1.0001 0 0 0 46 46 L 46 19.708984 L 47.384766 20.789062 A 1.0005657 1.0005657 0 1 0 48.615234 19.210938 L 41 13.269531 L 41 6 L 35 6 L 35 8.5859375 L 25.615234 1.2636719 A 1.0001 1.0001 0 0 0 24.962891 1.0546875 z M 25 3.3222656 L 44 18.148438 L 44 45 L 32 45 L 32 26 L 18 26 L 18 45 L 6 45 L 6 18.148438 L 25 3.3222656 z M 37 8 L 39 8 L 39 11.708984 L 37 10.146484 L 37 8 z M 20 28 L 30 28 L 30 45 L 20 45 L 20 28 z"/></svg>
        </a>
        <p class="header-title">메인</p>
        <div class="page-btn-box">
          <a href="" class="page-prev">
            <img src="./source/img/arr-left.png" alt="">
          </a>
          <a href="" class="page-next">
            <img src="./source/img/arr-right.png" alt="">
          </a>
        </div>
      </div>
      <!-- } Header -->

      <!-- content { -->
      <div class="design-box">
        <div class="img-box">
          <img src="" alt="">
        </div>
      </div>
      <!-- } content -->
    </div>

    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const numValue = urlParams.get('num');

      let pageNum = [
        {
          title: '메인 > 메인 페이지(1)',
          imgSrc: './source/img/00_00_Index_01.jpg',
        },
        {
          title: '메인 > 메인 페이지(2)',
          imgSrc: './source/img/00_00_Index_02.jpg',
        },
        {
          title: '메인 > 메인 페이지(3)',
          imgSrc: './source/img/00_00_Index_03.jpg',
        },
        {
          title: '메인 > 메인 페이지(4)',
          imgSrc: './source/img/00_00_Index_04.jpg',
        },
        {
          title: '메인 > 전체메뉴',
          imgSrc: './source/img/00_01_Menu.jpg',
        },
        {
          title: '메인 > 전체메뉴(오버)	',
          imgSrc: './source/img/00_01_Menu_over.jpg',
        },
        {
          title: '메인 > 하위메뉴',
          imgSrc: './source/img/00_02_Menu_2dp.jpg',
        },
        {
          title: 'i-SMR > Overview',
          imgSrc: './source/img/01_01_Overview.jpg',
        },
        {
          title: 'i-SMR > SMR vision',
          imgSrc: './source/img/01_03_SMRvision.jpg',
        },
        {
          title: 'i-SMR > Features',
          imgSrc: './source/img/01_04_Features.jpg',
        },
        {
          title: 'About us > Partners',
          imgSrc: './source/img/02_01_Partners.jpg',
        },
        {
          title: 'About us > K-energy	',
          imgSrc: './source/img/02_02_K-energy.jpg',
        },
        {
          title: 'About us > History',
          imgSrc: './source/img/02_03_History.jpg',
        },
        {
          title: 'Resources > Video(list)',
          imgSrc: './source/img/03_01_Video_list.jpg',
        },
        {
          title: 'Resources > Video(pop)',
          imgSrc: './source/img/03_01_Video_pop.jpg',
        },
        {
          title: 'Resources > News(list)',
          imgSrc: './source/img/03_04_News_list.jpg',
        },
        {
          title: 'Resources > News(view)',
          imgSrc: './source/img/03_04_News_view.jpg',
        }
      ];

      document.querySelector('.header-title').innerText = pageNum[numValue].title;
      document.querySelector('.img-box img').src = pageNum[numValue].imgSrc;

      if(numValue == 0){
        document.querySelector('.page-prev').style.display = 'none';
      }else if(numValue == 16){
        document.querySelector('.page-next').style.display = 'none';
      }

      let pagePrevNum = parseInt(numValue) - 1;
      let pageNextNum = parseInt(numValue) + 1;

      document.querySelector('.page-prev').href = '/views/page.html?num='+ pagePrevNum;
      document.querySelector('.page-next').href = '/views/page.html?num='+ pageNextNum;


    </script>

  </body>
</html>